nav, .dropdown-menu, .dropdown-item:focus, .dropdown-item:hover {
    background-color: #364037;
}

nav :is(.nav-link, .dropdown-item) {
    transition: .5s;
    color: #fff;
}

nav :is(.nav-link:hover, .nav-link:focus, .active, .dropdown-item:focus, .dropdown-item:hover) {
    color: #f4dec9;
}