<nav class="navbar fixed-top navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="./assets/images/logo.png" alt="Logo" width="40" class="img-fluid d-block">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" aria-current="page" [routerLink]="['/inicio']">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" aria-current="page" [routerLink]="['/nuevo-post']">Nuevos post</a>
                </li>
            </ul>
            <div class="navbar-nav nav-item dropdown text-lg-end">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Categorías
                </a>
                <ul class="dropdown-menu border-0" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item rounded-1" href="#">Playa</a></li>
                    <li><a class="dropdown-item rounded-1" href="#">Montaña</a></li>
                    <li><a class="dropdown-item rounded-1" href="#">Ciudad</a></li>
                    <li><a class="dropdown-item rounded-1" href="#">Rural</a></li>
                    <li><a class="dropdown-item rounded-1" href="#">Festivales</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>