.container {
    margin-top: 100px;
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: #364037;
    color: #f4dec9 !important;
}

.dropdown-menu {
    background-color: transparent;
}

#myCarousel .carousel-item {
    height: 32rem;
}

@media (min-width: 992px) {
    .dropdown-menu {
        background-color: #364037;
    }

    .dropdown-item {
        color: #fff !important;
    }
}