<form>
    <div class="mb-3">
        <label for="titulo" class="form-label">Título de la publicación</label>
        <input type="text" class="form-control" id="titulo">
    </div>
    <div class="mb-3">
        <label for="descripcion" class="form-label">Descripción</label>
        <input type="text" class="form-control" id="descripcion">
    </div>
    <div class="mb-3">
        <label for="imagen" class="form-label">Imagen de la publicación</label>
        <input type="image" class="form-control" id="imagen">
    </div>
    <div class="mb-3">
        <label for="fecha" class="form-label">Fecha de la publicación</label>
        <input type="date" class="form-control" id="fecha">
    </div>
    <div class="mb-3">
        <select class="form-select" id="categoria">
            <option value="">Selecciona una categoría...</option>
            <option value="">Playa</option>
            <option value="">Montaña</option>
            <option value="">Ciudad</option>
            <option value="">Rural</option>
            <option value="">Festivales</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>